.dialog {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #cac8c9dd ;
  z-index: 99999;
  opacity: 0;
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 32px;
    min-width: 400px;
    border: #1a1311 1px solid;
    background-color: #ededee;
    transform: translateY(-24px);
    opacity: 0;
  }
  &.open {
    display: flex;
  }
  &.show {
      opacity: 1;
      .dialog__box {
          transform: translateY(0);
          opacity: 1;
      }
  }
  &__icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-bottom: 16px;
    border-radius: 50px;
    border: 2px solid;
    font-size: 24px;
    &.success {
      color: #aaa;
      border-color: #aaa;
    }
    &.failed {
      color:#b63030;
      border-color: #b63030;
    }
  }
  &__title {
    width: 100%;
    padding: 0 0 16px;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    border-bottom: #444 1px solid;
  }
  &__info {
    width: 100%;
    padding: 16px 0;
    text-align: center;
    font-size: 12px;
  }
  button {
    width: 100%;
    padding: 12px 24px;
    font-weight: 900;
    border: #444 1px solid;
    color: white;
    background-color: #333;
    cursor: pointer;
  }
}

.inquiryArea {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #cac8c9dd ;
  z-index: 9999;
  opacity: 0;
  &__box {
      display: flex;
      flex-direction: column;
      gap: 32px;
      padding: 32px;
      border: #1a1311 1px solid;
      background-color: #ededee;
      transform: translateY(-24px);
      opacity: 0;
      .inquiryTitle {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          h2 {
              font-size: 20px;
          }
          .closeButton {
              line-height: 12px;
              padding: 8px 12px;
              border: #1a1311 1px solid;
              cursor: pointer;
          }
      }
  }
  &.open {
      display: flex;
  }
  &.show {
      opacity: 1;
      .inquiryArea__box {
          transform: translateY(0);
          opacity: 1;
      }
  }
}